.el-upload--picture-card {
  background-color: #F4F9FC !important;

  .picture-card-tip {
    position: absolute;
    top: 100px;
    width: 148px;
    font-size: 12px;
    color: rgba(0, 0, 0, .65);
    line-height: 20px;
  }
}

.common-step {

  .el-textarea__inner,
  .el-input__inner {
    width: 280px !important;
    border: 1px solid #D9D9D9 !important;
    background-color: #F4F9FC !important;
  }

  .section {
    .area {
      min-height: 130px;
    }

    .circle {
      width: 50px;
      height: 50px;
      border: 1px solid #4b9ffd;
      border-radius: 1000px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &>span {
        margin: 6px;
      }

      &.active {
        background-color: #f2faff;
        border-color: #4b9ffd;
        color: rgba(0, 0, 0, 0.85);
      }

      &.disabled {
        background-color: rgba(235, 241, 246, 1);
        border-color: rgba(235, 241, 246, 1);
        color: rgba(0, 0, 0, 0.45);
      }

      &.success {
        border-color: rgba(75, 159, 253, 1);
        background-color: rgba(75, 159, 253, 1);
        color: rgba(255, 255, 255, 1);
      }
    }

    .line-wrap {
      display: flex;
      flex-direction: column;
    }

    .line-dash {
      height: 0;
      flex-grow: 1;
      width: 0;
      border-left: 1px dashed #4b9ffd;
      margin: 6px 25px;
      min-height: 60px;

      &.disabled {
        border-color: rgba(217, 217, 217, 1);
      }
    }
  }

  .tip-detail {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);

    .detail-name {
      color: rgba(0, 0, 0, .65);
    }

    .action {
      &.success {
        color: rgba(102, 200, 86, 1);
      }

      &.danger {
        color: rgba(235, 106, 94, 1);
      }

      &.text-right {
        width: 60px;
        display: inline-block;
        text-align: right;
      }
    }
  }

  .tip-date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  .detail {
    margin-top: 16px;
    padding-bottom: 60px;

    .left {
      flex-shrink: 0;
      width: auto;
      flex-grow: 0;
    }

    .user-list-wrap {
      padding-right: 20px;
      display: flex;

      &:not(:first-child) {
        margin-top: 10px;
      }

      // flex-direction: column !important;
      .left {
        display: flex;
        flex-direction: column;
      }

      .right {
        margin-left: 20px;
      }
    }

    .sub {
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, .65);
    }
  }

  .el-tag {
    &.role {
      height: 20px;
      line-height: 20px;
      background: rgba(221, 238, 252, 1);
      border-radius: 2px;
      border: none;
      font-size: 12px;
      font-weight: 400;
      color: rgba(75, 159, 253, 1);
      margin-top: 4px;
    }
  }

  .bubble {
    z-index: 99;
    width: 518px;
    min-height: 120px;
    background: rgba(244, 249, 252, 1);
    border-radius: 4px;
    margin-top: -30px;
    padding: 24px 0;
    position: relative;
    margin-left: 10px;

    .el-form-item {
      margin: 8px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -22px;
      top: 30px;
      border: 11px solid white;
      border-right: 13px solid rgba(244, 249, 252, 1);
    }
  }
}
