.layout-footer {
  padding: 48px 0 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, .45);
  text-align: center;
  .layout-footer-inner {
    padding: 0 16px;
  }
  .footer-introduction {
    margin-bottom: 8px;
  }
}